*{ 
    padding: 0 5px;
    margin: 0;
    box-sizing: border-box;
}

/* alternative css box model */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
 
.main-content{ 
    width: 1000px;
    height: auto;
    background-color: bisque;
    padding: 4px 8px;
    border: 20px solid navajowhite;
    margin: 10px 20px;
    display: flex;
    flex: 1;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: auto;
    font-weight: normal;
    /* text-align: center; */
    padding-right: 5pk;
    margin-right: 2px;
    display: flex;
    border: 1px;
    color: black;
    background-color: bisque;
}
img{ 
    /* height: 250px; */
    width: 200px;
    /* padding: 0 auto;
    margin: 0 auto;
    border: 2px solid green; */
    vertical-align: top;
    display: block;
}
.subsection{
    width: 1000px;
    height: auto;
    background-color: blanchedalmond;
    padding: 4px 8px;
    border: 20px solid navajowhite;
    margin: 10px 20px;
    display: flex;
}
 ul ol li{
    display: flex;
    margin-right: 3px;
}