*{ 
    padding: 0 5px;
    margin: 0;
    box-sizing: border-box;
}

/* alternative css box model */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
 
.main-content{ 
    width: 800px;
    background-color: bisque;
    padding: 4px 18px;
    border: 20px solid navajowhite;
    margin: 10px 20px;
    display: inline-block;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: auto;
    font-weight: normal;
    text-align: center;
    color: black;
    background-color: bisque;
}
img{ 
    /* height: 250px; */
    width: 200px;
    /* padding: 0 auto;
    margin: 0 auto;
    border: 2px solid green; */
    vertical-align: top;
    display: inline-block;
}
.subsection{
    width: 800px;
    background-color: blanchedalmond;
    padding: 5px 18px;
    border: 20px solid navajowhite;
    margin: 10px 20px;
    display: inline-block;
}